@CHARSET "UTF-8";

			
			div#footer{
			
			
				bottom : 0;
				clear: both;
				width : 100%;
				height : 300px;
				
				padding : 40px 0 50px;
				margin:0 auto;
				background-color: #efefef;
				
			}
			
			
			div#footer .footer_area{
					width: 970px;
					height:100%;
   					margin: 0 auto;
					
			}
			
			.ddd{
				height:360px;
			}
			


			
			#footer .foot_guide{
				overflow: hidden;
				padding-bottom: 20px;
				list-style: none;
				margin: 0;'
			
			}
			#footer .foot_guide li{
				
				float: left;
				padding: 0 10px;
				border-left: 1px solid #999;
			
			}
			
			#footer .foot_guide li:first-child{	
				border-left : none;	

			}
			
			
			
			#footer .foot_guide li a{
				color: #777;
				font-size: 12px;
			
			}
						#footer .foot_guide li a:HOVER{
				color: #ff4f00;
			
			}
			
			#footer address{
				font-size: 12px;
				color:#777;
				padding-bottom: 6px;
				padding-left: 11px;
			}
			.copyright{
				font-size: 12px;
				color:#777;
				padding-left: 11px;
			}
			