@charset "UTF-8";
/*
 * Webfont setting
 * fonts.css
 * -------------------------------------------------- */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?15639320");
  src: url("../fonts/fontello.eot?15639320#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?15639320") format("woff"), url("../fonts/fontello.ttf?15639320") format("truetype"), url("../fonts/fontello.svg?15639320#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"] {
  display: inline-block;
  visibility: hidden; }

.fontello-loaded [class^="icon-"],
.no-js [class^="icon-"] {
  visibility: visible; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  width: 1em;
  color: inherit;
  font-size: 1em;
  text-align: center;
  text-indent: 0;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: '\e800'; }

/* '' */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
.icon-people:before {
  content: '\e802'; }

/* '' */
.icon-rainy:before {
  content: '\e803'; }

/* '' */
.icon-sun:before {
  content: '\e804'; }

/* '' */
.icon-teabag:before {
  content: '\e805'; }

/* '' */
.icon-tealeaf:before {
  content: '\e806'; }

/* '' */
.icon-wind:before {
  content: '\e807'; }

/* '' */
.icon-abacus:before {
  content: '\e808'; }

/* '' */
.icon-fog:before {
  content: '\e809'; }

/* '' */
.icon-hourglass:before {
  content: '\e80a'; }

/* '' */
.icon-box:before {
  content: '\e84d'; }

/* '' */
.icon-farm:before {
  content: '\e84b'; }

/* '' */
.icon-mountain:before {
  content: '\e84c'; }

/* '' */
.icon-arr-up:before {
  content: '\e80b'; }

/* '' */
.icon-arr-down:before {
  content: '\e80c'; }

/* '' */
.icon-arr-left:before {
  content: '\e80d'; }

/* '' */
.icon-arr-right:before {
  content: '\e80e'; }

/* '' */
.icon-image:before {
  content: '\e80f'; }

/* '' */
.icon-beverage:before {
  content: '\e810'; }

/* '' */
.icon-calendar:before {
  content: '\e811'; }

/* '' */
.icon-next:before {
  content: '\e812'; }

/* '' */
.icon-menu:before {
  content: '\e813'; }

/* '' */
.icon-notify:before {
  content: '\e814'; }

/* '' */
.icon-location2:before {
  content: '\e815'; }

/* '' */
.icon-location1:before {
  content: '\e816'; }

/* '' */
.icon-location3:before {
  content: '\e817'; }

/* '' */
.icon-help:before {
  content: '\e818'; }

/* '' */
.icon-heart:before {
  content: '\e819'; }

/* '' */
.icon-gift:before {
  content: '\e81a'; }

/* '' */
.icon-faq:before {
  content: '\e81b'; }

/* '' */
.icon-facebook-circle:before {
  content: '\e81c'; }

/* '' */
.icon-check-circle:before {
  content: '\e81d'; }

/* '' */
.icon-checkbox:before {
  content: '\e81e'; }

/* '' */
.icon-checkbox-empty:before {
  content: '\e81f'; }

/* '' */
.icon-check:before {
  content: '\e820'; }

/* '' */
.icon-cart:before {
  content: '\e821'; }

/* '' */
.icon-prev:before {
  content: '\e822'; }

/* '' */
.icon-next2:before {
  content: '\e823'; }

/* '' */
.icon-prev2:before {
  content: '\e824'; }

/* '' */
.icon-zoom-out:before {
  content: '\e825'; }

/* '' */
.icon-play:before {
  content: '\e826'; }

/* '' */
.icon-qna:before {
  content: '\e827'; }

/* '' */
.icon-radio:before {
  content: '\e828'; }

/* '' */
.icon-radio-empty:before {
  content: '\e829'; }

/* '' */
.icon-reply:before {
  content: '\e82a'; }

/* '' */
.icon-search:before {
  content: '\e82b'; }

/* '' */
.icon-star:before {
  content: '\e82c'; }

/* '' */
.icon-user:before {
  content: '\e82d'; }

/* '' */
.icon-x:before {
  content: '\e82e'; }

/* '' */
.icon-zoom-in:before {
  content: '\e82f'; }

/* '' */
.icon-heart-1:before {
  content: '\e830'; }

/* '' */
.icon-comment:before {
  content: '\e831'; }

/* '' */
.icon-order-cancel:before {
  content: '\e832'; }

/* '' */
.icon-ongoing:before {
  content: '\e833'; }

/* '' */
.icon-home:before {
  content: '\e834'; }

/* '' */
.icon-exchange:before {
  content: '\e835'; }

/* '' */
.icon-delivery-wait:before {
  content: '\e836'; }

/* '' */
.icon-delivery-done:before {
  content: '\e837'; }

/* '' */
.icon-delivery:before {
  content: '\e838'; }

/* '' */
.icon-creditcard:before {
  content: '\e839'; }

/* '' */
.icon-coupon:before {
  content: '\e83a'; }

/* '' */
.icon-call:before {
  content: '\e83b'; }

/* '' */
.icon-bus:before {
  content: '\e83c'; }

/* '' */
.icon-leaflet:before {
  content: '\e83d'; }

/* '' */
.icon-info:before {
  content: '\e83e'; }

/* '' */
.icon-compass:before {
  content: '\e83f'; }

/* '' */
.icon-clock:before {
  content: '\e840'; }

/* '' */
.icon-car:before {
  content: '\e841'; }

/* '' */
.icon-order-receive:before {
  content: '\e842'; }

/* '' */
.icon-point:before {
  content: '\e843'; }

/* '' */
.icon-refund-ing:before {
  content: '\e844'; }

/* '' */
.icon-return-application:before {
  content: '\e845'; }

/* '' */
.icon-user-circle:before {
  content: '\e846'; }

/* '' */
.icon-cancel-done:before {
  content: '\e847'; }

/* '' */
.icon-check-done:before {
  content: '\e848'; }

/* '' */
.icon-comments:before {
  content: '\e849'; }

/* '' */
.icon-go-top:before {
  content: '\e84a'; }

/* '' */
/* Arita Buri (serif) */
@font-face {
  font-family: 'Buri';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Arita-buri-Medium.eot);
  src: url(../fonts/Arita-buri-Medium.eot?iefix) format("embedded-opentype"), url(../fonts/Arita-buriM-subset.woff) format("woff"); }

@font-face {
  font-family: 'Buri';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Arita-buriSB-subset.woff) format("woff"); }

/* NotoSans (sans-serif) */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Korean"), url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Korean"), url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"); }