@CHARSET "UTF-8";

div#wrap{ /*div태그들중 아이디가 wrap인 경우에만 적용*/
			
			width:1500px;
			height:100%;
			margin:0 auto;
			}


  #header{
  	width : 1500px;
	margin:0 auto;
  	background: url("images/headback.PNG") no-repeat; 	
  	height: 100px; 	
  	
  }
	#head_bar li{
		width:300px;
		list-style: none;
		float: left;	
	}
  	.rogo{
  		display : block;
  		margin-top : 5px;
  		width : 200px;
  		height : 100px;
  		text-indent : -9999px;
  		background: url("images/header.PNG") no-repeat; 	
  	}
  	
  	.bar_icon{
  		margin-top : 50px;
  		display : block;
  		
  		width : 120px;
  		height: 50px;
  		text-indent : -9999px;
  		background: url("images/header_rogo.PNG") no-repeat; 	
  	
  	}
  	.teaguide{
  		width : 110px;
  		background-position: -160px 0;
  	}
  	.aboutosylloc{
  		width : 150px;
  		background-position: -320px 0;
  	}
	.tealife{
		width : 110px;
		background-position: -490px 0;
	}
	.fc{
		clear : both;
	}
