@CHARSET "UTF-8";

		*{
			padding: 0;
			margin: 0;
		}
		html,body{
			
			width:100%;
			height:100%;
		}	
		a{
			text-decoration: none;
		}
		div#wrap{ /*div태그들중 아이디가 wrap인 경우에만 적용*/
			
			width:100%;
			height:100%;
			margin:0 auto;
			}
		div#header{
			margin:0 auto;
			width:970px;
			position: relative;
			height: 140px;
			
		}
		div#header>h1{
			width : 181px;
			height : 59px;
			background-image: url(../img/header.PNG);
			background-repeat: no-repeat;
			text-indent: -8000px;
			margin: 0;
		}
		div#header .gnb{/*div#header .gnd = div태그들중 아이디가 header인 태그 안에 있는 자식과 자손들중
								클래스가 gnd인 놈에게 접근*/
			margin: 0;
			padding: 0;
			
			position: absolute;
			bottom: 0;
			width:100%;
			height:50px;  /*사용하고 남은 공간을 모두 차지 하게 하고 싶을떄ㅇㅇ 퍼센트 쓰면 짱*/
			overflow:hidden;

	
		}
		
		div#header .gnb>li{
			float: left;
			width:194px;
			height:100%;
			background-color: #ff5001;
			list-style: none;

		}
		div#header .gnb>li>a{/*a태그는 인라인 레벨이므로 크기를 지정하지 못한다.
								그래서 문자들의 정렬을 가운데 맞출 수 없다.
								요것을 해결하기 위해 강제로 인라인 레벨을 블록레벨로 바꿔버리기
								*/
			display : block;
			width:100%; /*li태그와 너비가 같도록 한다.*/
			height : 100%; /*li태그와 높이가 같도록 한다.*/
			text-decoration:none;
			text-align: center;
			line-height: 50px;
			border-left: 1px solid #fff;
		}
		
		.menu{
			display : inline-block;
			height : 20px;
			color:#fff;
			font-weight: bold;
			font-size: 16px;
			
			background-image: url(../img/gnb_bult.png);
			background-repeat: no-repeat;
			margin: 15px;	
			padding-left: 30px;	
			line-height : 16px;
		}
		
		
		        .m1{
			background-position: 0 0;
		}		.m2{
			background-position: 0 -22px;
		}		.m3{
			background-position: 0 -44px;
		}		.m4{
			background-position: 0 -66px;
		}		.m5{
			background-position: 0 -88px;
		}
		
		div#header .gnb>li>a:hover{
			color:#000;
			background:#e24c09;
		}
