<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <%
      var bool = false;
      if(bool){

      }else{
    %>
        <%=name%>님 환영합니다.
    <%
      }
    %>
  </body>
</html>
